*{
  margin: 0;
}

.navbar-custom{
  height: 100vh;
  width: 20vw;
  background-color: #EEF2F3;
}
.dashboard-container{
  height: 100vh;
  width: 55vw;
  background-color: white;
}
.searchbox{
  background-color: #EEF2F3;
  padding: 0px 10px;
  border-radius: 10px;
}
.search-icon{
  max-width: 30px;
  color: #959696;
}
.save-icon {
  max-width: 25px;
  color: #959696;
  cursor: pointer;
}
.custom-input{
  margin: 5px 0px;
  background-color: transparent;
  border: 0px solid transparent;
  width: 100%;
}